body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #EAEBEA;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    width: 125px;
    padding: 4px;
    background: #8A5A5B;
    color: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
}

button:hover, button:active {
    transition: 150px;
    transition-duration: 1s;
    background: rgb(97, 63, 64);
    cursor: pointer;
}

span {
    font-style: italic;
}


/* Header */
header {
    background: #000000;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
}


header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #header-img {
    float: left;
    width: 200px;
}

header #nav-bar {
    float: right;
    margin-top: 80px;
}

header a:hover {
    font-weight: bold; 
}


/* Features */
#feature1 .container {
    border-top: 2px solid #EAEBEA;
}

#feature1 .container, #feature2 .container {
    background: black;
    color: white;
}

#feature1 img {
    float: left;
    width: 300px;
    padding: 10px 0 10px 35px;
}

#feature1 .text {
    float: right;
    text-align: center;
    padding: 25px 25px 0 25px;
    font-style: italic;
}


#feature2 img {
    height: 200px;
    float: right;
    padding: 0 40px 40px 0;
}

#feature2 .text {
    float: left;
    text-align: center;
    padding: 40px 0 0 85px;
    font-style: italic;
}

/* Newsletter */
 #form-section .container {
     background: black;
     color: white;
     border-top: 2px solid #EAEBEA;
 }

 #form-section h2 {
     float: left;
     text-align: center;
     padding-left: 20px;
     font-style: italic;
 }

 #form {
     float: right;
     padding: 25px 20px 0 0;
 }

 #email {
    width: 250px;
    padding: 2px;
    margin-right: 5px;
    font-style: italic;
}


 /* Demo */
 #video .container {
     background: black;
     color: white;
     border-top: 2px solid #EAEBEA;
     text-align: center;
 }

 #frame {
     width: 640px;
     height: 400px;
     padding: 5px 0 5px 0;
 }

 #video .vid-desc {
     font-style: italic;
 }

 /* Products */
 .container-flex {
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: white;
    border-top: 10px solid #EAEBEA;
 }
 
 .container div {
    padding: 10px;
 }

.product-images {
    width: 200px;
    padding: 80px;
    float:right;
}

.order {
    margin-top: 20px;
}

.info {
    float: left;
    padding: 100px;
    font-size: 15px;
}

#special-info {
    float: right;
    padding: 100px;
    font-size: 15px;
}

#special-img {
    width: 200px;
    padding: 80px;
    float:left;
}
    

.box-1 {
    background: black;
    width: 80%;
}

.box-2 {
    background: black;
    width: 80%;
    border-top: 10px solid #EAEBEA;
}

.box-3 {
    background: black;
    width: 80%;
    border-top: 10px solid #EAEBEA;
}


/* Footer */
#footer {
    background: black;
    color: white;
    border-top: 2px solid #EAEBEA;
}

/* Media Queries */
@media (max-width: 768px) {
    /*header*/
    #header-img {
        float: none;
        width: 100%;
    }
    header #nav-bar {
        float: none;
        width: 30%;
        text-align: left;
        padding: 2px;
    }
    /*features*/
    #feature1 .text, #feature2 .text {
        float:none;
        text-align: center;
        padding: 1px;
        font-size: 12px;
        width: 100%;
    }
    #feature1 img {
        float: none;
        width: 200px;
        padding-left: 50px;
    }
    #feature2 img {
        float: none;
        height: 100px;
        text-align: center;
        padding-left: 50px;
    }
    /*Newsletter*/
    #form-section h2 {
        float: none;
        text-align: center;
        padding-right: 20px;
        font-size: 15px;
        font-style: italic;
    }
   
    #form {
        float: none;
        text-align: center;
        padding-bottom: 2px;
    }
    #email {
        width: 250px;
        padding: 2px;
        margin: 0 0 5px 20px;
        font-style: italic;
    }
    /*demo*/
    #frame {
        width: 300px;
        height: 150px;
        padding: 5px 0 5px 0;
    }
    #video .vid-desc {
        font-size: 12px;
        font-style: italic;
    }
    /* Products */
    .container-flex {
        display: flex; 
        flex-direction: column;
        align-items: center;
        color: white;
        border-top: 10px solid white;
     }
    
    
    
    .product-images {
        width: 150px;
        text-align:center;
        float:none;
        padding: 20px;
    }
    
    .info {
        float: none;  
        font-size: 12px;
        padding: 20px;
    }
    
    #special-info {
        float: none;
        font-size: 12px;
        padding: 20px;
    }
    #special-img {
        width: 150px;
        float:none;
        padding: 20px;
    }
    .container div {
        padding: 0px;
    }
     .box-1, .box-2, .box-3 {
        flex-basis: 30%;
        background: black;
        width: 80%;
        border-top: 10px solid white;
     }
}