body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background: #000000;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #header-img {
    float: left;
    width: 200px;
}

header #nav-bar {
    float: right;
    margin-top: 80px;
}

header a:hover {
    font-weight: bold; 
}


/* Features */
#feature1 .container {
    border-top: white 2px solid;
}

#feature1 .container, #feature2 .container {
    background: black;
    color: white;
    border-radius: 1px;

}
#feature1 img {
    float: left;
    width: 300px;
    padding: 10px 0 10px 35px;
}

#feature1 .text {
    float: right;
    text-align: center;
    padding: 25px 25px 0 25px;
    font-style: italic;
}


#feature2 img {
    height: 200px;
    float: right;
    padding: 0 40px 40px 0;
}

#feature2 .text {
    float: left;
    text-align: center;
    padding: 40px 0 0 85px;
    font-style: italic;
}